.code-editor {
    margin-block-start: em(100px);
    margin-inline-start: em(20px);

    .editor-header {
        margin-block-end: em(10px);
        margin-inline-start: em(10px);

        span{
            margin-right:em(10px) ;
        }

        button {
            margin-inline: em(10px);
            padding: 4px;
            border: 2px solid $btn-clr;
            border-radius: $el-br;
            color: $main-font-clr;
            background-color: transparent;
            transition: .3s;

            &:hover {
                background-color: $main-font-clr;
                color: $main-bg-clr;

            }
        }

        @include for-small-layout {
            width: 80%;
            flex-direction: column;
            gap: 5px;
            margin-inline: 0;

            span {
                font-size: em(12px);
            }

            button {
                font-size: em(12px);
                padding: 2px;
                margin-inline: em(5px);
                margin-block-start: em(2px);

            }
        }
    }

    .editor-output {
        gap: em(20px);

        .editor {
            height: 70vh;
            width: 60%;
        }

        @include for-narrow-layout {
            display: grid;

            .editor {
                height: 40vh;
                width: 80%;
            }

        }
    }
}