.block-preview {
    width: em(220px);
    height: em(140px);
    background-color: $card-clr;
    border-radius: $el-br;
    transition: .2s;

    &:hover {
        scale: 1.05;
    }

    cursor: pointer;

    h2 {
        background: $linear-g-color;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    @include for-narrow-layout {
        width: em(170px);
        height: em(100px);

        h2 {

            font-size: em(16px);
        }
    }


}