$main-font-clr:rgb(224, 213, 213);
$main-bg-clr: rgb(3, 20, 56);

$clr-success: rgb(152, 232, 152);
$clr-error: rgb(243, 150, 150);

$break-mobile: 450px;
$break-small: 600px;
$break-narrow: 750px;
$break-normal: 1000px;
